
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Movie</title>
</head>
<body>
    <ul>
        <li>@ViewData["movie"] @ViewData["year"] </li>
            </ul>
            <ul>
                <li>@ViewBag.Movie (@ViewBag.Year)</li>
    </ul>
</body>
</html>
